$pink: #ed4a81;
$gray: #606060;

body {
    background-color: #eee;
    box-sizing: border-box;
}

input {
    border: none;
    box-sizing: border-box;
    padding: 0 10px;
    height: 50px;
    width: 600px;
    font-size: 30px;
    outline-style: none;
    background-color: #f6f6f6;
}

.container {
    text-align: center;
    width: 100%;

    .title {
        font-size: 50px;
        color: $pink;
        font-family: fantasy;
    }

    small {
        font-size: 16px;
    }
}

.error {
    color: $pink !important;
}

.op-container {
    margin: 10px;

    #opResult {
        height: 50px;
        width: 600px;
        text-align: left;
        margin: 0 auto;
        color: $gray;
        line-height: 50px;
        font-size: 20px;
        padding: 0 10px;
        box-sizing: border-box;
    }
}

.ll1-container {
    margin: 10px;

    #ll1Results {
        color: $gray;
        width: 600px;
        text-align: left;
        height: 400px;
        overflow: auto;
        margin: 0 auto;

        table {
            width: 100%;
            text-align: center;

            .stack {
                text-align: left;
            }

            .string {
                text-align: right;
            }

            td {
                border: 1px solid #ddd;
            }
        }
    }
}
